<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/emailauth" method="post">
    <input type="text" name="email">
    <input type="submit" value="Requset Auth">
</form>
</body>
</html>
